<form #loginForm="ngForm" >
    <div  *ngIf="inputUser.touched && inputUser.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>The username is required!</p>
    </div>
    <div  *ngIf="pass.touched && pass.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>The password is required!</p>
    </div>
  <div class="w3-row-padding" style="margin:0 -16px;">
    <div class="w3-half w3-margin-bottom">
      <label><i class="fa fa-calendar-o"></i> Username</label>
      <input #inputUser="ngModel" class="w3-input w3-border" type="text" placeholder="Username" name="username" ngModel required>
    </div>
    <div class="w3-half">
      <label><i class="fa fa-calendar-o"></i> Password</label>
      <input #pass="ngModel" class="w3-input w3-border" type="password" placeholder="Password" name="password" ngModel required>
    </div>
  </div>
  <button class="w3-button w3-block w3-teal w3-margin-top" [disabled]="loginForm.invalid" type="submit" (click)="login()"><i class="fa fa-search w3-margin-right"></i>Log In</button>
</form>