<form #registerForm="ngForm">
    <div  *ngIf="inputUser.touched && inputUser.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>The username is required!</p>
    </div>
    <div  *ngIf="pass.touched && pass.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>The password is required!</p>
    </div>
    <div  *ngIf="rPass.touched && rPass.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>The repeat password is required!</p>
    </div>
    <div  *ngIf="inputEmail.touched && inputEmail.errors?.required" class="w3-panel w3-red w3-display-container">
        <p>Pleas prvide an e-mail!</p>
    </div>

    <div *ngIf="rPass.touched && (rPass.value != pass.value)" class="w3-panel w3-red w3-display-container">
        <span>Passwords must be equal! {{pass.value}}</span>
    </div>
  <div class="w3-row-padding" style="margin:0 -16px;">
    <div class="w3-half w3-margin-bottom">
      <label><i class="fa fa-calendar-o"></i> Username</label>
      <input #inputUser="ngModel" class="w3-input w3-border" type="text" placeholder="Username" name="username" ngModel required>
    </div>
    <div class="w3-half w3-margin-bottom">
      <label><i class="fa fa-calendar-o"></i> Email</label>
      <input #inputEmail="ngModel" class="w3-input w3-border" type="text" placeholder="email" name="email" ngModel required>
    </div>
    <div class="w3-margin-bottom ">
        <label><i class="fa fa-calendar-o"></i> Image</label>
        <input class="w3-input w3-border" type="text" placeholder="Image url" name="image" ngModel>
    </div>
    <div class="w3-half">
      <label><i class="fa fa-calendar-o"></i> Password</label>
      <input #pass="ngModel" class="w3-input w3-border" type="password" placeholder="Password" name="password" ngModel required>
    </div>
    <div class="w3-half w3-margin-bottom">
      <label><i class="fa fa-calendar-o"></i> Repeat Password</label>
      <input #rPass="ngModel" class="w3-input w3-border" type="password" placeholder="Repeat Password" name="RepeatPass" ngModel required>
    </div>
  </div>
  <button [disabled]="registerForm.invalid" class="w3-button w3-block w3-teal w3-margin-top" type="submit" (click)="register()"><i class="fa fa-search w3-margin-right"></i>Sign Up</button>
</form>