<div class="w3-third w3-margin-bottom" style="margin: 10px; width: 23%;">
    <div class="img-container">
        <img [src]="product.image" alt="Norway" style="width:100%; height: 100%;">
    </div>
    <div class="w3-container w3-white">
      <h3>{{product.name}}</h3>
      <h6 class="w3-opacity">From ${{product.price}}</h6>
      <p>{{product.description}}</p>
      <p>post views<span>{{product.views}}</span></p>
      <p class="w3-xxlarge"><i HoverIcon class="fa fa-edit w3-margin-right" [routerLink]="[ '/products/update', product['_id'] ]"></i> <i HoverIcon (click)="deleteProduct(product['_id'])" class="fa fa-trash"></i></p>
      <button class="w3-button  w3-teal w3-margin-bottom">View Details</button>
    </div>
  </div>