.form-link{
    color: gray;
}
.form-link > span {
    text-decoration: underline;
}
.form-link > span:hover {
    color: blue;
    cursor: pointer;
}
body{
    margin: 0 auto;
    max-width: 3000px;
    background-color: #ececec!important;
}