<header class=" w3-container" style="padding: 0 !important">
    <div class="w3-container" style="padding: 0 !important; max-height: 800px; overflow: hidden">
        <img class="w3-image" src="/assets/images/marketing.jpg" alt="The Hotel" width="100%" >
    </div>
    
    <div *ngIf="!isAuthenticated" class="w3-display-left w3-padding w3-col l6 m8">
      <div class="w3-container w3-blue">
        <h2><i class="fa fa-bed w3-margin-right"></i>{{labelHeader}}</h2>
      </div>
      <div class="w3-container w3-white w3-padding-16">
        <app-login *ngIf="isLoginForm" ></app-login>
        <app-register *ngIf="!isLoginForm"></app-register>
        <div class="w3-margin-top form-link">{{labelMassege}} <span (click)="switchForm()">{{labelAction}}</span></div>
      </div>
    </div>
  </header>
  <body>
      <div class="w3-container">
        <div class="w3-panel w3-leftbar w3-sand">
            <p class="w3-xxlarge w3-serif"><i>"See who is the best seller for the week!"</i></p>
        </div>
          
        <div class="w3-row-padding w3-margin-top">
          <app-popular-users
            *ngFor="let user of (users$ | async)"
            [user]="user">
          </app-popular-users>
        </div>      
      </div>
  </body>
  